:root {
    --bg-color: #ffffff;
    --bg-variant: #b6b6b6;
    --primary: #FF5D73;
    --primary-variant: #a84ea8;
    --secondary:#ebd0eb;
    --font-color: #1a1a1a;
    --selection-color: black;
}

.dark {
    --bg-color: #212121;
    --bg-variant: #212121;
    --primary: #67aec5;
    --primary-variant: #A5D7E8;
    --secondary: #2F58CD;
    --font-color: #f1f1f1;
    --selection-color: black;
}

/* 设置一个宽度为 50% 的类 */
.fig-50 img {
  width: 50%;
  height: auto; /* 保持图片的原始高宽比 */
}

/* 设置一个宽度为 75% 的类 */
.fig-75 img {
  width: 75%;
  height: auto;
}

/* 设置一个宽度为 100% 的类 */
.fig-100 img {
  width: 100%;
  height: auto;
}


body {
    background-image: url('../../../images/topo.svg') !important;
}