:root {
    --bg-color: #ffffff;
    --bg-variant: #b6b6b6;
    --primary: #FF5D73;
    --primary-variant: #a84ea8;
    --secondary:#ebd0eb;
    --font-color: #1a1a1a;
    --selection-color: black;
}

.dark {
    --bg-color: #212121;
    --bg-variant: #212121;
    --primary: #67aec5;
    --primary-variant: #A5D7E8;
    --secondary: #2F58CD;
    --font-color: #f1f1f1;
    --selection-color: black;
}

/* 设置一个宽度为 25% 的类 */
.fig-25 img {
  width: 25%;
  height: auto; /* 保持图片的原始高宽比 */
}


/* 设置一个宽度为 50% 的类 */
.fig-50 img {
  width: 50%;
  height: auto; /* 保持图片的原始高宽比 */
}

/* 设置一个宽度为 75% 的类 */
.fig-75 img {
  width: 75%;
  height: auto;
}

/* 设置一个宽度为 100% 的类 */
.fig-100 img {
  width: 100%;
  height: auto;
}


body {
    background-image: url('../../../images/topo.svg') !important;
}

/* 折叠列表样式 */
.collapsible {
    background: none;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    padding: 0;
    margin: 8px 0 4px 0;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Spectral', serif;
    text-align: left;
    outline: none;
    display: flex;
    align-items: center;
}

.collapsible:hover {
    color: var(--primary-variant);
}

.collapsible:before {
    content: '\25B6'; /* 右箭头 */
    margin-right: 8px;
    font-size: 0.8rem;
    transition: transform 0.2s ease;
    color: var(--secondary);
}

.collapsible.active:before {
    transform: rotate(90deg); /* 向下箭头 */
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-left: 20px;
    margin-bottom: 8px;
}

.collapsible-content.active {
    max-height: 9999px; /* 足够大的值以容纳任何内容 */
}